/* reset */

.form_root {
  width: 260px;
}

.form_field {
  display: grid;
  margin-bottom: 10px;
}

.form_label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
}

.form_message {
  font-size: 13px;
  color: red;
  opacity: 0.8;
}

.input,
.text_area {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  // color: white;
  // background-color: var(--blackA5);
  box-shadow: 0 0 0 1px var(--blackA9);
}
.input:hover,
.text_area:hover {
  box-shadow: 0 0 0 1px black;
}
.input:focus,
.text_area:focus {
  box-shadow: 0 0 0 2px black;
}

.input::selection,
.text_area::selection {
  background-color: var(--blackA9);
  color: white;
}

.input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.text_area {
  resize: none;
  padding: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.button:hover {
  background-color: var(--mauve3);
}
.button:focus {
  box-shadow: 0 0 0 2px black;
}