@use '@/_styles/_basePage.module.scss';
@use '@/_styles/buttons.module.scss';



.title {
  margin-top: 5vh;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.form_root {
  width: 50%;
}

.not_set_up_profile_message {
  width: max(260px, 50%);
}

.tabs_list {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.tab_content {
  display: flex;
  justify-content: center;
}
.tab {
  cursor: pointer;
}
