@use '@/_styles/_basePage.module.scss';


.title {
  margin-top: 5vh;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.form_root {
  width: 50%;
}

.not_set_up_profile_message {
  width: max(260px, 50%);
}