// Global page styles are defined and exported from here

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.main {
  z-index: -1;
  position: relative;
}
