// Global button styles are defined and exported from here

// Might need these later:
// $button_text_size: 0.938rem;
// $button_text_decoration: bold;

// Normal colors
$primary_button_background_color: rgb(184, 236, 81);
$primary_button_border_color: rgb(184, 236, 81);
$primary_button_text_color: rgb(0, 97, 66);

// Hover colors
$primary_button_hover_background_color: rgb(147, 188, 64);
$primary_button_hover_border_color: rgb(147, 188, 64);
$primary_button_hover_text_color: rgb(0, 97, 66);

// // Focus colors
// $primary_button_focus_box_shadow_color: black;

.primary_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  height: 35px;
  width: 100%;
  border: 0.5px solid $primary_button_border_color;
  border-radius: 8px;
  background-color: $primary_button_background_color;
  color: $primary_button_text_color;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.primary_button:hover {
  background-color: $primary_button_hover_background_color;
  border:  $primary_button_hover_border_color;
}
.primary_button:focus {
  box-shadow: 0 0 0 2px black;
}

.button_group {
  display: flex;
  column-gap: 10px;
}

.link_button {
  font-weight: bold;
  cursor: pointer;
}

.selected_link_button {
  color: $primary_button_hover_text_color;
  // border-bottom: 3px solid rgb(0, 97, 66) ;
}

.link_button:hover {
  color: $primary_button_hover_text_color;
}

.dropdown_menu:hover {
  cursor: pointer;
}