// Global fields styles are defined and exported from here
@use "@/src/_styles/_fonts.module.scss";

$field_label_size: 0.938rem;
$field_error_message_size: 0.813;
$field_error_message_color: red;
$field_error_message_opacity: 0.8;
$field_text_size: 0.938rem;

.form_border {
  padding: 10px;
}

.form_root {
  min-width: 260px;
}

.form_field {
  display: grid;
  margin-bottom: 10px;
}

.form_label {
  font-size: $field_label_size;
  font-weight: 500;
  line-height: 35px;
}

.form_message {
  font-size: $field_error_message_size;
  color: $field_error_message_color;
  opacity: $field_error_message_opacity;
}

.input,
.text_area {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 0 0 1px black;
}
.input:hover,
.text_area:hover {
  box-shadow: 0 0 0 1px black;
}
.input:focus,
.text_area:focus {
  box-shadow: 0 0 0 2px black;
}

.input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}