// Global logo styles are defined and exported from here

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo_text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

