.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  z-index: 1;
  position: relative;
}

.move_buttons_down {
  margin-top: 10px;
}

.dropdown_menu {
  display: none;
  padding-top: 10px;
  padding-left: 10px;
}
// For mobile devices
@media screen and (max-width: 600px) {
  .dropdown_menu {
    display: inline-block;
  }

  .logo_button {
    display: none;
  }

  .navbar {
    display: none;
  }
}

