@use '@/_styles/_basePage.module.scss';

.title {
  height: 10%;
  width: 100%;
}
.filters_players_container {
  display: flex;
  height: 90%;
  width: 100%;
}

.filters_container {
  width: 30%;
}

.players_container {
  width: 70%;
  height: 90vh;
  // border: 1px solid #000000;
  border-radius: 4px;
  padding: 0 10px 10px 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

// tablet width
@media screen and (max-width: 630px) {
  .filters_players_container {
    flex-direction: column;
  }

  .filters_container {
    width: 100%;
  }
  
  .players_container {
    width: 100%;
  }
}


.load_more_players_button {
  width: fit-content;
  margin: 0 auto;
}