@use '@/src/_styles/_basePage.module.scss';

.title {
  height: 10%;
  width: 100%;
}
.filters_players_container {
  display: flex;
  height: 90%;
  width: 100%;
}

.filters_container {
  width: 30%;
}

.players_container {
  width: 70%;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

// tablet width
@media screen and (max-width: 768px) {
  .filters_players_container {
    flex-direction: column;
  }

  .filters_container {
    width: 100%;
  }
  
  .players_container {
    width: 100%;
  }
}
