// Global font styles are defined and exported from here

$button_text_size: 15px;
$button_text_decoration: bold;

$field_label_size: 15px;
$field_error_message_size: 13px;
$field_error_message_color: red;
$field_error_message_opacity: 0.8;
$field_text_size: 15px;

.hyperlink_text {
  color: mediumblue;
}

// Just use default h1 styles and add here when need to customize the default styles.
.h1 {

}
