// Insert global css variables in here then access them with var(--variable-name).
:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
}

// Additionally enables setting of box-sizing:border-box on these elements if they're children elements.
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

// Weird hack as stated in https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied to prevent input field from showing 
// some default color (light blue) when autofill is triggered.
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
